* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container5 {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}
.sign_up5_img {
  background-color: #e4e7f8a9;
  background-image: url(img/Personal\ Info.png);
  padding: 4rem;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}
.sign_up5_img p {
  color: rgb(117, 14, 212);
  font-size: 3.6rem;
}
.sign_up5_form {
  background-color: white;
  padding: 4rem;
}
.sign_up5_form .close {
  text-align: right;
  font-size: 2rem;
}
.sign_up5_form .close i {
  background-color: #e4e7f8a9;
  padding: 1rem 1.5rem;
  border-radius: 50%;
  color: #757c8b;
}
form {
  width: 55%;
  margin: 5rem auto;
}
form .title5 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.under_title {
  gap: 1rem;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.under_title a {
  padding-bottom: 0.5rem;
  text-decoration: none;
  border-bottom: 0.3rem solid rgba(0, 0, 255, 0.192);
  color: black;
}
.active:focus {
  border-bottom: 0.3rem solid blue;
}

.name {
  margin-top: 1.5rem;
}
.name p {
  font-size: 1.6rem;
  color: #757c8b;
  margin-bottom: 0.5rem;
}
.name input {
  border: 0.1rem solid rgba(0, 0, 0, 0.144);
  width: 100%;
  height: 4rem;
  background-color: #e4e7f8a9;
  font-size: 1.6rem;
}
.name input::placeholder {
  padding-left: 0.3rem;
  color: black;
}
.name .gen {
  border: 0.1rem solid rgba(0, 0, 0, 0.144);
  width: 100%;
  height: 4rem;
  background-color: #e4e7f8a9;
}
.gen::placeholder {
  padding-left: 10rem;
}
.birth {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.birth select {
  border: 0.1rem solid rgba(0, 0, 0, 0.144);
  width: 100%;
  height: 4rem;
  background-color: #e4e7f8a9;
}
.continue {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  display: block;
}
.continue button {
  background-color: #395af7;
  color: white;
  width: 100%;
  height: 4rem;
  font-size: 1.8rem;
  border: none;
}
.final5 {
  font-size: 1.6rem;
  margin-top: 1.5rem;
  text-align: center;
}
.sign_up6_img {
  background-color: #395af7;
  background-image: url(img/Personal\ Info.png);
  padding: 4rem;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}
.sign_up6_img p {
  color: rgb(255, 255, 255);
  font-size: 3.6rem;
}
